
// * { outline: 1px solid red;}
// @import url(https:fonts.googleapis.com/css?family=Open+Sans:400,700italic);

body {
	height: 100%;
	background-attachment: fixed;
	background-color: $c-peach;
	box-sizing: border-box;
	background-image: url("../img/peek-hd.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: $baseFontSize;
	color: $c-text;
}

h1 {
	margin: 0 0 12px 0;
	font-family: $f-title;
	@include font-size(40);
	text-align: center;

	@include bp(small) {
		@include font-size(55);
		margin: 30px 0;
		
	}
	@include bp(medium) {
		@include font-size(60);
		@include line-height(60);
	}
	@include bp(xlarge) {
		@inlcude font-size(110);
	}
}

/*	FORM FIELD STYLES */
fieldset, 
form, 
label, 
legend {
	width: 100%;
	margin: 0;
	padding: 0 0 0 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
label {
	font-size: $baseFontSize;

	@include bp(small){
		@include font-size(18);
	}
}

select,
input[type="number"],
input[type="text"] {
	box-sizing: border-box;
	display: block;
	margin: 5px 0 3px 0;
	width: 100%;
	height: 35px;
	padding: 10px;
	color: $c-grey-med;
	background-color: transparent;
	border: 1px solid $c-grey-med;
	border-radius: 4px;
	@include font-size(14);
	+ p {
		
	}
	@include bp-arb(xsmall) {
		max-width: 75%;
	}
	@include bp(small){
		max-width: 50%;

	}

}
#firstName {
	@include bp(small) {
		margin: 10px auto;
	}	
}

select {
	-webkit-appearance: menu-list;
}
option {
	font-size: $baseFontSize;
	text-transform: none;
	@include bp(small){
		@include font-size(27);
	}
}

a {
	color: $c-white;
	&:hover {
		color: $c-white;
		text-decoration: none;
		border-radius: 0;
		box-shadow: none;
		outline: 1px solid $c-orange;
	}
}
.container {
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	padding: 30px;
	max-width: 50%;
	min-width: 340px;
	font-family: $f-text;
	border: none;
	background-color: transparent;
	color: $c-text;
	position: relative;

	// @include bp(small) {
	// 	padding: 30px 30px 0 30px;
	// }
	// semi-transparent white box
	&:after {
		content: "";
		background-color: $c-white;
		position: absolute;
		opacity: 0.8;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
	h1 {
		 order: 0;
	}

	.enter-name {
		order: 1;
		display: flex;
		flex-direction: row;
		text-align: center;
		flex-wrap: nowrap;
		padding: 0 0 0 15px;

	}
	.q1 {
		display: flex;
		order: 3;
		flex-flow: column nowrap;
	}
	.q2 {
		display: flex;
		order: 4;
		flex-flow: column nowrap;
	}
	.q3 {
		display: flex;
		order: 5;
		flex-flow: column nowrap;	
	}
	.question {
		// background-color: yellow;
		display: flex;
		flex-flow: column nowrap;
		margin: 0 0 0 0 ;

		@include bp(small) {
			flex-flow: column wrap;
		}
		@include bp(medium) {
			flex-flow: row wrap;
			margin: 0 0 2% 0 ;
		}

	}
	.error {
		@include font-size(14);
		height: 30px;
	    margin: 0 0 0 0;
		font-style: italic;
		color: $c-warning;

		@include bp(medium) {
			padding: 15px 0 0 0;
			height: 35px;
		}
	}
}

button,
button[type="submit"], 
input[type="submit"] {

    padding: 0.6rem 1rem;
	border-radius: 4px;
	border-style: none;
	background-color: $c-orange;
	outline-color: $c-white;
	color: $c-white;
	font-size: $baseFontSize;
	outline-offset: 0;
	
	+ p {
		display: inline-block;
		@include font-size(14);
		height: 1rem;
		margin: 0;
		font-style: italic;
		color: $c-warning;
	}
}
select:focus,
button[type="submit"]:focus,
button[type="select"]:active,
button[type="submit"]:active,
input[type="number"]:focus,
input[type="text"]:focus {
	border-color: $c-orange;
	box-shadow: none;
	outline-color: $c-orange;
 	outline: none;
 	box-shadow: none;
}

button[type="submit"]:hover, 
input[type="submit"]:hover {	
	border-radius: 0;
	box-shadow: none;
	outline: 1px solid $c-orange;
	color: $c-white;
	text-decoration: none;
}

.listings {
	display: block;
	width: 100%;
	margin: 0 auto;
	order: 6;
	@include font-size(18);

	@include bp(xsmall) {
		width: 90%;
		font-size: $baseFontSize;
	}
	@include bp(small){
		width: 75%;
	}
	@include bp(large){
		width: 60%;
	}

	p {
		
	}		
	.js-list1 {
		order: 6;
	    margin: 0 0 3rem 0;
	} 
	.js-list2 {
		order: 7;
	    margin: 0 0 3rem 0;
	} 
	.js-list3 { 
		order: 8;
	    margin: 0 0 3rem 0;
	}
}
.btn-reset {
	display: block;
	order: 6;
	margin: 0 auto;
}
span {
	text-transform: lowercase;
}
span.landmark{
	text-transform: none;
}
span.firstName,
span.water,
span.bestie,
span.favCartoon,
span.favCountry,
span.favAnimal, 
span.verb1, 
span.artist,
span.prez, 
span.favCity,
span.error {
	text-transform: capitalize;
}

.share {
	order: 9;
	width: 100%;
	margin: 1rem auto;

	.eliza {
		text-align: center;
		font-size: $baseFontSize;
		color: $c-text;
		a {
			color: $c-text;
			border: 1px solid transparent;
			@include font-size(14)
			margin: 0 auto;
			padding: 15px;
			text-decoration: none;
			&:hover {
			    border: 1px solid $c-text;
		    	outline: none;
		    	border-radius: 4px;
			}
			img {
				height: 12px;
				margin: 0 0 0 3px;
			}
		}
	}
	.icons {
		display: inline-flex;
		justify-content: center;
		width: 100%;
		margin: 1rem auto;

		.social-icon {
			display: inline-block;
			
			 a {
				color: $c-text;
				font-size: $baseFontSize;
				&:hover {
					border: none;
					outline: none;
				}
				img {
					height: 25px;
				}
			} 
		}
	}
}

// .isInvalid {
// 	outline: 1px solid $c-warning;

// }
// .isValid {
// 	outline: 1px solid $c-orange;

// }