// ------- COLORS -------//

$c-orange: 	rgba(255,155,68,1);
$c-text: 	rgba(63,63,61,1);
$c-grey-med: #878787;
$c-warning: rgba(255,0,68,1);
$c-white: 	#fff;
$c-peach: 	#fff3e8;

// ------- FONTS -------//
$f-text: 	'Open Sans', sans-serif;